.container {
  width: 98%;
  margin: 0% auto;
  .main_info {
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 5px;
    gap: 15px;
    /* productos */
    .producto_card {
      display: flex;
      background-color: white;
      color: black;
      padding: 5px;
      font-size: 16px;
      gap: 15px;
      #producto_img {
        width: 100px;
      }
      .buy_but {
        background-color: black;
        border: none;
        color: white;
        padding: 10px;
      }
    }

    //contacto
    .redes_contacto {
      display: flex;
    }
    .redes_contacto-img {
      padding-top: 5px;
      width: 25px;
    }
    .redes_contacto-link {
      font-size: 15px;
      color: white;
      justify-content: center;
      align-items: center;
    }
    /* nosotros */
    .dueño_img1 {
      width: 140px;
    }
    .dueño_img,
    .user_nosotros-name,
    .login_title,
    .log_field,
    .login_create_acc,
    .login_help {
      display: flex;
      justify-content: center;
      padding-top: 20px;
    }
    /* login */
    input:invalid {
      border: $input-invalid;
      border-radius: 6px;
    }
    input:valid {
      border: $input-valid;
      border-radius: 6px;
    }

    .log_input {
      display: inline-block;
      height: 20px;
    }
    .login_buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .submit_but {
      margin-top: 20px;
      width: 150px;
    }

    // footer
  }
  .footer {
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    height: 2em;
    position: static;
    background-color: $bg-color;
    color: white;
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  .contacto,
  .horarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
  .footer_link {
    padding: 0.2rem;
  }
  #footer-img {
    width: 25px;
  }
}
